---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
---

<Layout
  title='Rules'
  pageTitle='LogicLooM 4.0 | Rules'
  description='Welcome to LogicLooM, the most celebrated technical event at Paradox, the annual flagship techno-cultural fest for IIT Madras BS students'
>
  <main class='bg-pink p-6'>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <div class='col-span-full mx-auto'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-5 dm-serif'>Rules</h2>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-4xl'>Prelims</p>
   <p class='poppins'>The Prelims round will be accessible from 10.00 AM to 23.59 PM IST on both 11th and 12th May 2024. The duration of this timed contest will be 40 minutes. You are free to decide your own convenient 40 minute time slot within this 28 hour time-frame. Make use of this flexibility and choose your slot wisely.
The prelims (Creativity Round) will consist of 15 problems (mostly single option correct MCQs and a few SATs). The scoring policy for MCQs will be as follows: You will be awarded with 3 points for every correct response. There's no negative marking. You won't gain any points by skipping or answering a problem incorrectly. For a few short response based questions which require understanding your thought process, partial marking will be done based on the extent of correctness. 1 bonus problem will be available which will fetch you extra 3 points if answered correctly and the maximum achievable points will be capped to 45.
</p>
            <Button target={'_self'} href=''>
              TBA
            </Button>
          </div>
        </Card>
      </div>

<div class='col-span-full mx-auto'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-4xl'>Round-2</p>
   <p class='poppins'>TBA</p>
          </div>
        </Card>
      </div>

<div class='col-span-full mx-auto'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-4xl'>Pre-finale</p>
   <p class='poppins'>TBA</p>
          </div>
        </Card>
      </div>

<div class='col-span-full mx-auto'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-2 outfit text-xl md:text-2xl lg:text-4xl'>Race to Glory! Finals!</p>
   <p class='poppins'>TBA</p>
          </div>
        </Card>
      </div>

    </section>
  <!--<RecentBlogPosts />-->
  </main>
</Layout>
